<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--<connectionStrings configSource="db.config"/>-->
  
  <connectionStrings>
    <add name="FDIEntities" connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QUANGKHANH-PC;initial catalog=NetPOS_282016;user id=sa;password=123456a@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=QUANGKHANH-PC;Initial Catalog=NetPOS_282016;Integrated Security=False;user id=sa;password=123456a@;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="FDIEntities" connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=1.55.242.221;initial catalog=NetPOS;user id=sa;password=123456a@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=1.55.242.221;Initial Catalog=NetPOS;Integrated Security=False;user id=sa;password=123456a@123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings>
    <add key="UserName" value="Nguyễn Quang Khánh" />
  </appSettings>
</configuration>